In [2]:
import gensim.downloader as api
from gensim.models import Word2Vec, KeyedVectors
from nltk.tokenize import word_tokenize

In [3]:
wv_pretrained = api.load("word2vec-google-news-300")

[==================================================] 100.0% 1662.8/1662.8MB downloaded

In [4]:
wv_pretrained.most_similar(positive=["king","woman"], negative=["man"])

[('queen', 0.7118191123008728),
 ('monarch', 0.6189674735069275),
 ('princess', 0.5902430415153503),
 ('crown_prince', 0.5499458909034729),
 ('prince', 0.5377322435379028),
 ('kings', 0.5236843824386597),
 ('Queen_Consort', 0.5235945582389832),
 ('queens', 0.5181134939193726),
 ('sultan', 0.5098593235015869),
 ('monarchy', 0.5087411403656006)]

In [8]:
def perform_analogy(word1, word2, word3):
    result = wv_pretrained.most_similar(positive=[word1, word3], negative=[word2])
    return result[0]

analogies = [
    ("king", "man", "woman"),  
    ("brother", "man", "woman"),  
    ("uncle", "man", "woman"),  
    ("nephew", "man", "woman"),  
    ("actor", "man", "woman"),  
    ("hero", "man", "woman") ,
    ("doctor", "hospital", "school"),  # doctor - hospital + school ≈ teacher
    ("painter", "canvas", "stage"),  # painter - canvas + stage ≈ actor
    ("pilot", "airplane", "ship"),  # pilot - airplane + ship ≈ captain
    ("chef", "kitchen", "laboratory"),  # chef - kitchen + laboratory ≈ scientist
    ("author", "book", "song"),  # author - book + song ≈ singer
    ("hitler","Germany", "India")
]

analogy_results = {analogy: perform_analogy(*analogy) for analogy in analogies}

print("Analogy Results:")
for analogy, result in analogy_results.items():
    print(f"{analogy[0]} - {analogy[1]} + {analogy[2]} ≈ {result[0]}")
    print(result)

Analogy Results:
king - man + woman ≈ queen
('queen', 0.7118191123008728)
brother - man + woman ≈ sister
('sister', 0.8103213906288147)
uncle - man + woman ≈ aunt
('aunt', 0.8022664785385132)
nephew - man + woman ≈ niece
('niece', 0.8202236294746399)
actor - man + woman ≈ actress
('actress', 0.860262393951416)
hero - man + woman ≈ heroine
('heroine', 0.68734210729599)
doctor - hospital + school ≈ guidance_counselor
('guidance_counselor', 0.5969594717025757)
painter - canvas + stage ≈ cabaret_performer
('cabaret_performer', 0.4397791028022766)
pilot - airplane + ship ≈ ships
('ships', 0.4948738217353821)
chef - kitchen + laboratory ≈ lab
('lab', 0.5366887450218201)
author - book + song ≈ anthem
('anthem', 0.5882688164710999)
hitler - Germany + India ≈ gandhi
('gandhi', 0.619478166103363)

In [80]:
##Task 2 ()
import pandas as pd 

df = pd.read_csv("IMDB Dataset.csv")
df.shape

(50000, 2)

In [81]:
import string 
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

def remove_stopwords_and_punctuation(text):
    text = text.translate(str.maketrans('', '', string.punctuation))
    words = word_tokenize(text)
    filtered_words = [word for word in words if word not in stop_words]
    return filtered_words

df['cleaned_text'] = df['review'].apply(remove_stopwords_and_punctuation)
df

,review,sentiment,cleaned_text
0,One of the other reviewers has mentioned that ...,positive,"[One, reviewers, mentioned, watching, 1, Oz, e..."
1,A wonderful little production. <br /><br />The...,positive,"[A, wonderful, little, production, br, br, The..."
2,I thought this was a wonderful way to spend ti...,positive,"[I, thought, wonderful, way, spend, time, hot,..."
3,Basically there's a family where a little boy ...,negative,"[Basically, theres, family, little, boy, Jake,..."
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,"[Petter, Matteis, Love, Time, Money, visually,..."
...,...,...,...
49995,I thought this movie did a down right good job...,positive,"[I, thought, movie, right, good, job, It, wasn..."
49996,"Bad plot, bad dialogue, bad acting, idiotic di...",negative,"[Bad, plot, bad, dialogue, bad, acting, idioti..."
49997,I am a Catholic taught in parochial elementary...,negative,"[I, Catholic, taught, parochial, elementary, s..."
49998,I'm going to have to disagree with the previou...,negative,"[Im, going, disagree, previous, comment, side,..."
49999,No one expects the Star Trek movies to be high...,negative,"[No, one, expects, Star, Trek, movies, high, a..."

In [82]:
#create embedding for each review
import numpy as np
def get_embedding(words):
    embedding = [wv_pretrained[word] for word in words if word in wv_pretrained]
    return np.mean(embedding, axis=0)
 
embedding=df['cleaned_text'].apply(get_embedding)  
 
 
data=pd.DataFrame(embedding.tolist())
data.head()

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,0.050317,0.053415,0.038032,0.076007,-0.053392,-0.002179,0.034439,-0.057433,0.076233,0.097119,...,-0.065795,0.010038,-0.116087,0.017102,-0.040221,-0.023342,0.002918,-0.075081,0.041535,-0.019835
1,0.066517,0.071847,-0.025412,0.046563,-0.047924,0.037785,0.033784,-0.072095,0.089296,0.087283,...,-0.133700,0.024485,-0.059384,0.021904,-0.046019,-0.067627,0.066743,-0.064045,0.041706,-0.014796
2,0.036720,0.048992,-0.009070,0.100696,-0.034379,-0.002581,0.046219,-0.048808,0.087476,0.094753,...,-0.072960,0.044974,-0.114639,0.014727,-0.047793,-0.060343,0.034904,-0.066511,0.021394,-0.018467
3,0.068221,0.031535,-0.022251,0.091936,-0.045524,0.062335,0.051493,-0.050584,0.091021,0.099479,...,-0.106683,0.033853,-0.139438,0.034197,-0.022073,-0.059132,-0.019083,-0.053927,0.019353,0.023621
4,0.039528,0.033580,-0.006584,0.058266,-0.020921,0.010489,0.040179,-0.054073,0.070070,0.041623,...,-0.108452,0.044189,-0.087717,0.020076,-0.043566,-0.031580,0.023033,-0.041160,0.047247,-0.022942

In [83]:
##Concatenate , drop a column
df1=pd.concat([df,data],axis=1)
df1.drop(columns=['cleaned_text'],inplace=True)

In [84]:
from sklearn.model_selection import train_test_split    
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score , f1_score 
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df1['sentiment'] = le.fit_transform(df1['sentiment'])
X = df1.drop(columns=['review','sentiment'])
y = df1['sentiment']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")
print(f"F1 Score: {f1}")

Accuracy: 0.8511
F1 Score: 0.8527055099416362

In [85]:


# ##skip gram
sentences = df['cleaned_text'].tolist()

In [86]:
skipgram_model = Word2Vec(
    sentences=sentences,
    sg=1,
    vector_size=50,
    window=5,
    min_count=1,
)

In [87]:
word_vector = skipgram_model.wv['wonderful']
print(f"Vector for 'wonderful': {word_vector}")

Vector for 'wonderful': [-1.1197125e-02  2.7722521e-02  5.1764075e-02 -2.2492981e-01
 -2.4227369e-01 -1.0925724e-01  5.4862648e-01  8.3991802e-01
 -1.0343041e+00  3.1746390e-01  3.5397848e-01 -2.3054768e-01
 -4.2786890e-01  6.5049849e-04  3.1856555e-01  4.6437845e-01
  4.7221079e-01  4.8213974e-01 -5.4019642e-01 -5.5445784e-01
  1.9933293e-02  1.8164086e-01  7.3803437e-01 -6.2802255e-01
  3.3847305e-01  8.3403200e-01  1.3866916e-01 -2.6086724e-01
 -4.0437028e-01  3.1261167e-01  1.2566680e-01 -3.0601751e-02
  1.9979376e-01  4.1377971e-01 -4.0805596e-01  1.6218163e-01
  9.4526112e-01 -1.2563322e-01 -3.5124242e-01 -3.9210328e-01
  4.5506012e-01 -2.2178869e-01 -6.7554349e-01  3.6265716e-01
  4.2494902e-01 -1.9606239e-01 -1.4629734e-01 -7.1701878e-01
 -1.3865536e-01  2.9920844e-02]

In [88]:
skipgram_model.save("skipgram_model.model")

In [94]:

loaded_model = Word2Vec.load("skipgram_model.model")
loaded_model=loaded_model.wv

In [96]:
import numpy as np
def skip_embedding(words):
    embedding = [loaded_model[word] for word in words if word in loaded_model]
    return np.mean(embedding, axis=0)
 
embedding = df['cleaned_text'].apply(skip_embedding)  
 
 
data=pd.DataFrame(embedding.tolist())
data.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,-0.103229,0.104894,-0.103497,0.015613,-0.149234,-0.213011,0.436361,0.576237,-0.670041,-0.164278,...,0.403076,-0.117490,-0.041954,0.011794,0.664964,0.283390,-0.444477,-0.258842,0.235374,0.362104
1,-0.118175,0.028888,-0.187211,0.067682,-0.122106,-0.165189,0.457229,0.566867,-0.619285,-0.039844,...,0.438902,-0.075632,-0.099666,0.131157,0.615313,0.320734,-0.363197,-0.346836,0.180858,0.295269
2,-0.097295,-0.015022,-0.060614,0.003673,-0.147002,-0.219163,0.489888,0.673199,-0.708634,-0.103532,...,0.425551,-0.153646,-0.099040,0.126654,0.656246,0.221040,-0.447877,-0.376171,0.199675,0.376352
3,-0.197245,0.093371,-0.159989,0.083869,-0.099473,-0.232639,0.490801,0.559206,-0.698771,-0.178947,...,0.436883,-0.245884,-0.080615,0.082951,0.686213,0.305047,-0.433893,-0.370824,0.275647,0.368934
4,-0.196511,0.036282,-0.034077,0.005689,-0.170700,-0.268549,0.479393,0.529781,-0.709934,-0.058372,...,0.424220,-0.174459,-0.084798,0.058803,0.622099,0.281144,-0.368045,-0.291468,0.101870,0.295844

In [99]:
##Concatenate , drop a column
df2=pd.concat([df,data],axis=1)
df2.drop(columns=['cleaned_text'],inplace=True)

In [102]:
from sklearn.model_selection import train_test_split    
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score , f1_score 
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df2['sentiment'] = le.fit_transform(df2['sentiment'])
X = df2.drop(columns=['review','sentiment'])
y = df2['sentiment']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")
print(f"F1 Score: {f1}")

Accuracy: 0.8647
F1 Score: 0.8660263392415091

In [103]:
##CBOW 
cbow_model = Word2Vec(
    sentences=sentences,
    sg=0,
    vector_size=50,
    window=5,
    min_count=1,
)

In [104]:
cbow_model.save("cbow_model.model")

In [107]:
cbow_model = Word2Vec.load("cbow_model.model")
loaded_model=cbow_model.wv

In [108]:
word_vector = cbow_model.wv['wonderful']
print(f"Vector for 'wonderful': {word_vector}")

Vector for 'wonderful': [-0.70591295  0.6509652  -2.5713575  -3.7275262   0.21396323 -1.0881749
  0.6108621   2.440779   -0.03457995 -0.8260493  -1.9220332  -0.7386559
 -2.6185114   0.16978963  0.33179563  0.9136808   0.12419671  1.4620786
 -1.4964484  -1.5296903  -0.89964825 -0.775082    2.509701   -2.8479114
 -0.98070556  2.1681745   1.9152339   1.9516232   1.1545634   1.1230468
  0.9183077   0.16525657 -1.5275582   3.246119   -0.999611    0.3915947
  2.5906413  -0.93570554  1.7606449  -0.45751682  2.7845728   1.250187
 -3.8893487   2.0935001  -0.29709792 -3.2667446   1.729668   -1.3144089
 -2.2435625  -3.0615244 ]

In [111]:
import numpy as np
def cbow_embedding(words):
    embedding = [loaded_model[word] for word in words if word in loaded_model]
    return np.mean(embedding, axis=0)
 
embedding = df['cleaned_text'].apply(cbow_embedding)  
 
 
data=pd.DataFrame(embedding.tolist())
data.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,-0.368710,-0.313098,0.092859,-0.086129,-0.401625,0.222938,0.166105,0.912390,-0.812800,-0.431937,...,0.876117,-0.053534,0.181403,-0.272961,1.193235,-0.552502,0.084231,-0.254845,-0.012255,0.444466
1,-0.567885,-0.224408,-0.655002,-0.414184,-0.347915,0.330098,0.141622,0.830752,-0.471493,-0.501901,...,1.834009,0.224204,-0.281282,0.076449,0.767704,-0.250526,0.632132,-0.626143,-0.457365,0.122881
2,-0.409077,-0.492577,-0.115155,-0.357869,-0.403937,0.274879,0.324552,1.184395,-0.942448,-0.660638,...,1.208927,0.046204,0.329998,0.024962,0.848576,-0.955530,-0.049832,-0.707158,-0.422876,-0.026675
3,-0.305401,-0.107770,-0.134137,-0.215079,-0.113557,0.012237,0.331398,0.765705,-0.886531,-0.464718,...,1.445303,-0.340621,0.335324,-0.229817,1.388782,-0.835881,0.365231,-0.777140,-0.387788,0.110122
4,-0.517093,-0.210835,0.028965,-0.474007,-0.461286,-0.113311,-0.021774,0.677775,-0.643828,-0.468360,...,1.564413,0.176379,0.040755,-0.185483,0.998282,-0.319978,0.772152,-0.622290,-0.287472,0.247715

In [112]:
##Concatenate , drop a column
df3=pd.concat([df,data],axis=1)
df3.drop(columns=['cleaned_text'],inplace=True)

In [113]:
from sklearn.model_selection import train_test_split    
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score , f1_score 
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df3['sentiment'] = le.fit_transform(df3['sentiment'])
X = df3.drop(columns=['review','sentiment'])
y = df3['sentiment']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")
print(f"F1 Score: {f1}")

Accuracy: 0.8449
F1 Score: 0.8465723612622416